# $Id: leaf.cfg,v 1.1 2008-09-21 19:56:37 doros Exp $

# This file is parsed as a shell script
# Kernel command line parameters are available as KCMD_<variable>
# ie: KCMD_LRP contains the LRP= portion of the kernel command line
# NOTE: For kernel command line settings that do not include an equals
# sign (ie: rw or similar), the variable is set to itself, allowing
# for easy testing (ie: KCMD_rw=rw).

# LRP and PKGPATH variables now support whitespace (space, tab, newline)
# as well as commas for seperators.

# Uncomment for more verbose execution.
#VERBOSE=1

# Other variables you might want to set in this file include:
# LRP		Packages to load
# PKGPATH	Device(s) to load packages from
# syst_size	Size of root ramdisk
# tmp_size	Size of /tmp ramdisk
# log_size	Size of /var/log ramdisk

# Example:
#LRP="$KCMD_LRP rsync"
#LRP="root config etc local modules iptables dhcpcd keyboard shorwall ulogd dnsmasq dropbear sh-httpd weblet"
LRP="root config etc local iptables shorwall ulogd libz libcrpto sshd libm mawk snmpmibs libsnmp netsnmpd custom"
PKGPATH="/dev/ubd0:minix /dev/ubd1:minix"
syst_size=10M
log_size=2M
