/* $Id: my.css,v 1.5 2008-09-21 06:46:44 doros Exp $ */

h1.center,
h2.center,
h3.center,
h4.center,
td.center {
   text-align: center;
}

cite.border {
   border: 2px inset green;
   display: block;
   padding: 2em;
}

span.yellow {
   background-color: #FFFF33;
   text-align: center;
}

span.red {
   background-color: #FF66FF;
   text-align: center;
}

span.green {
   background-color: #33FF33;
   text-align: center;
}

td.yellow {
   background-color: #FFFF33;
   text-align: center;
}

td.red {
   background-color: #FF66FF;
   text-align: center;
}

td.binary {
   font-size: 6pt;
   font-family: monospace;
}

code {
   font-family: monospace;
   font-weight: bold;
   font-size: 10pt;
}

pre {
   font-family: monospace;
   font-weight: bold;
   font-size: 10pt;
   border: 1px dashed #2f6fab;
   color: Black;
   background-color: #f9f9d9;
   line-height: 1.1em;
   padding: 1em;
}

span.blue {
   color: blue;
}

body {
   background-color: #FFFFFF;
   font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
   font-size: 12pt;
   margin-left: 5%; margin-right: 5%;
   color: black;
   background: white;
}

h1, h2 {
   font-weight: normal;
   text-align: right;
   margin-bottom: 2px;
   color: #006;
}

h1 {
   font-size: 200%;
}

h2 {
   font-size: 150%;
   text-align: center;
}

h3 {
  font-size: 110%;
}

h3 {
   margin-top: 4em;
   margin-bottom: 1em;
}

h4 {
   margin-left: 2%;
   margin-top: 2em;
}

.copyright {
   font-size: 75%;
   font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
}

.note {
   font-size: 60%;
   font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
}

.menu {
   font-size: 14pt;
   font-family: verdana, georgia, helvetica;
}

table.home {
   margin: 1em;
   border-width: 0 0 0 0;
}

td.home {
   margin: 1em;
   border-width: 0 0 0 0;
   vertical-align: top;
}

table {
   background: #F8F8F8; color: #000;
   margin: 1em;
   border-width: 0 0 0 1px;
   border-style: solid;
   border-color: #C0C0C0;
}

td {
   border-width: 0 1px 1px 0;
   border-style: solid;
   border-color: #C0C0C0;
}

th {
   background: #F8F8FF;
   border-width: 1px 1px 2px 0;
   border-style: solid;
   border-color: #C0C0C0;
}

A:link {
   background: none transparent scroll repeat 0% 0%;
   color: #00f
}

A:visited {
   background: none transparent scroll repeat 0% 0%;
   color: #800080
}

A:active {
   background: #ffd700;
   color: green
}

img {
  border: 0;
}

address img {
  float: right;
  margin-bottom: 1em;
  margin-left: 2px;
  margin-right: 2px;
  border: 0px;
}

address {
  padding-top: .5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  margin-top: 2em;
  border-top: 2px solid green;
  background-color: #eee;
}

.layout {
   background: #FFFFFF; color: #000;
   border-width: 0 0 0 0;
}

.navigation {
  border-width: 0 0 0 0;
  margin-top: 4em;
  margin-bottom: 1em;
  width: 10%;
  background: #FFFFFF; color: #000000;
}

.content {
  border-width: 0 0 0 0;
  text-align: left;
  vertical-align: top;
  padding-left: 2em;
  width: 100%;
  background: #FFFFFF; color: #000000;
}

