# things for kernel source

<Server kernel.org>
	Type = http
	Name = www.de.kernel.org
	Serverpath = /pub/linux/kernel/v2.4
</Server>

<File linux-2.4.32.tar.bz2>
	Server = kernel.org
	envname = KERNEL_SOURCE
</File>

<File buildtool.mk>
	Server = cvs-sourceforge
	Directory = linux
	Revision = HEAD
</File>

<File helpers-2.4.29.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH1
	Revision = HEAD
</File>

<File ebtables-brnf-11-2_vs_2.4.31.diff.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH2
	Revision = HEAD
</File>

<File linux-2.4.25-mppe-20040216.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH3
	Revision = HEAD
</File>

<File grsecurity-2.1.8-2.4.32-200601081803.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH4
	Revision = HEAD
</File>

<File wd1100_patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH5
	Revision = HEAD
</File>

<File netconfig.diff.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH6
	Revision = HEAD
</File>

<File kbc_runtime_detect_2_4.diff.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH7
	Revision = HEAD
</File>

#connmark support
<File connmark.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH8
	Revision = HEAD
</File>

#wireless extensions v18
<File iw249_we17-13.diff.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH9
	Revision = HEAD
</File>
<File iw240_we18-5.diff.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH10
	Revision = HEAD
</File>

<File openswan-2.4.4.kernel-2.4-klips.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH11
	Revision = HEAD
</File>

<File openswan-2.4.4.kernel-2.4-natt.patch.gz>
	Server = cvs-sourceforge
	Directory = linux/patches
	envname = KERNEL_PATCH12
	Revision = HEAD
</File>

<File Bering-2.4.32.config>
	Server = cvs-sourceforge
	Directory = linux
	envname = LINUX_CONFIG
	Revision = HEAD
</File>
